#!/bin/bash
#------------------------------------------------
# Set environment
# Author: Thomas Perelle <t.perelle@linkbynet.com>
#------------------------------------------------
# This script must be executable:
# chmod +x env.sh
# Source the script before working:
# source env.sh

# Terraform 0.14.x
alias terraform="/usr/local/bin/terraform_0.14.5"
alias tf="terraform"

# Install Azure CLI with your system package manager or with Pipenv environment (only the first time)
# $ pipenv --python 3.7
# $ pipenv install azure-cli

# Load pipenv environment
# If you have installed Azure CLI with pipenv, comment the two lines above
# export PIPENV_IGNORE_VIRTUALENVS=1
# pipenv shell

# Export Azure credentials for Sowesign account
export ARM_CLIENT_ID=00000000-0000-0000-0000-000000000000
export ARM_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXX
export ARM_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
export ARM_TENANT_ID=00000000-0000-0000-0000-000000000000

# Export key for terraform backend storage account
export ARM_ACCESS_KEY=XXXXXXXXXXXXXXXXXXX

az login